<div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel-heading" style="text-align: center"><h1> Lista Motos</h1></div>
      <div class="panel-body">
        <table class="table table-striped ">
          <thead>  
            <th>
             <div style="text-align: center"> <h3>PLACA</h3></div>
            </th>
            <th>
                <div style="text-align: center"><h3>CILINDRAJE</h3></div>
            </th>    
          </thead>
          <TBODy>
            <tr *ngFor="let moto of motos">
              <td>{{moto.placa}}</td>
              <td>{{moto.cilindraje}}</td>
            </tr>
          </TBODy>
        </table>

      </div>

  </div>


</div>