<div style="text-align: center"> <h3>Salida Vehiculo</h3></div>

<form novalidate (ngSubmit)="submit()" #vehiculoform="ngForm">
        <div class="form-group">
          <input style="text-transform:uppercase" type="text" id="placa" class="form-control"  placeholder="Placa" required name="placa" [(ngModel)]="vehiculo.placa"/>
        </div>
       
          <div style="text-align: center" class="form-group">
              <button class="btn btn-primary" type="submit">Dar Salida </button>       
          </div>
        
          
      </form>